body{
    background-color: #667;
}

@media screen and (max-width: 768px) {
    div.content-tab-container {
        margin-left: 1%;
        width: 98%;
    }

    div.menu-container {
        margin-left: 1%;
        width: 98%;
    }
}
/*  content tab */
div.content-tab-container {
    z-index: 10;
    background-color: #ffffff;
    padding: 0 !important;
    border-radius: 4px;
    -moz-border-radius: 4px;
    border: 2px solid white;
    margin-top: 20px;
    background-clip: padding-box;
    opacity: 0.97;
    filter: alpha(opacity=97);
}

div.content-tab-menu {
    padding-right: 0;
    padding-left: 0;
    padding-bottom: 0;
}

div.content-tab-menu div.list-group {
    margin-bottom: 0;
}

div.content-tab-menu div.list-group > a {
    margin-bottom: 0;
}

.list-group-item{
    background-color: #555;
    border: 1px solid white;
}

a.list-group-item{
    color: yellowgreen;
}

a.list-group-item:hover {
    color: yellowgreen;
    background-color: #777;
}

div.content-tab-menu div.list-group > a .glyphicon,
div.content-tab-menu div.list-group > a .fa {
    color: yellowgreen;
}

div.content-tab-menu div.list-group > a:first-child {
    border-top-right-radius: 0;
}

div.content-tab-menu div.list-group > a:last-child {
    border-bottom-right-radius: 0;
}

div.content-tab-menu div.list-group > a.active,
div.content-tab-menu div.list-group > a.active .glyphicon,
div.content-tab-menu div.list-group > a.active .fa {
    background-color: yellowgreen;
    border-color: white;
    color: #ffffff;
}

div.content-tab-menu div.list-group > a.active:after {
    content: '';
    position: absolute;
    left: 100%;
    top: 50%;
    margin-top: -13px;
    border-left: 0;
    border-bottom: 13px solid transparent;
    border-top: 13px solid transparent;
    border-left: 10px solid yellowgreen;
}

div.content-tab-content {
    background-color: #ffffff;
    padding-left: 20px;
    padding-top: 10px;
    margin-bottom: 20px;
}

div.content-tab div.content-tab-content:not(.active) {
    display: none;
}

.pageTitle{
    border-bottom: 1px solid transparent;
    color: white;
}

/* navbar */

.navbar-default{
    background-color: transparent;
    border-color: transparent;
}

@media screen and (max-width: 767px) {
    .navbar-default .navbar-nav > li > a{
        background-color: #555;
        color: white;
        border: 2px solid white;
        margin-top: 2px;
    }

    .navbar-default .navbar-nav > li > a:hover{
        background-color: yellowgreen;
        color: #555;
    }
}

@media screen and (min-width: 768px) {
    .navbar-default .navbar-nav > li > a{
        background-color: #555;
        color: white;
        border: 2px solid white;
        margin-left: 25px;
        margin-right: -15px;
        margin-bottom: 5px;
        margin-top: 5px;
        padding: 10px;
    }
    .navbar-default .navbar-nav > li > a:hover{
        background-color: yellowgreen;
        color: #555;
    }
}

.menu-container{
    padding-left: 0;
    padding-right: 0;
}

.item-header{
    margin-top: 0!important;
    color: #1b6d85!important;
}

.edit_form{
    border-color: yellowgreen;
}

.edit_form > .panel-heading {
    color: #ffffff;
    background-color: yellowgreen;
    border-color: yellowgreen;
}

.del_panel{
    border-color: #843534;
}

.del_panel > .panel-heading {
    color: #ffffff;
    background-color: #843534;
    border-color: #843534;
}

.logging-area{
    min-height:500px;
    margin-bottom: 20px;
    position: relative;
    resize: none;
}