<form class="form-inline" method="post" action="/">
    <div class="form-group">
        <label for="title">Title</label><br>
        <input type="text" class="form-control" name="title" id="title" placeholder="Title">
    </div>
    <br><br>
    <div class="form-group">
        <label for="path">Path</label><br>
        <input type="text" class="form-control" name="path" id="path" placeholder="Path">
    </div>
    <br><br>
    <div class="form-group">
        <label for="sel_icon">Select icon:</label><br>
        <select class="form-control" id="sel_icon" name="sel_icon">
            <option value="fa-address-book">address-book</option>
            <option value="fa-address-book-o">address-book-o</option>
            <option value="fa-address-card">address-card</option>
            <option value="fa-address-card-o">address-card-o</option>
            <option value="fa-adjust">adjust</option>
            <option value="fa-american-sign-language-interpreting">american-sign-language-interpreting</option>
            <option value="fa-anchor">anchor</option>
            <option value="fa-archive">archive</option>
            <option value="fa-area-chart">area-chart</option>
            <option value="fa-arrows">arrows</option>
            <option value="fa-arrows-h">arrows-h</option>
            <option value="fa-arrows-v">arrows-v</option>
            <option value="fa-asl-interpreting">asl-interpreting</option>
            <option value="fa-assistive-listening-systems">assistive-listening-systems</option>
            <option value="fa-asterisk">asterisk</option>
            <option value="fa-at">at</option>
            <option value="fa-automobile">automobile</option>
            <option value="fa-audio-description">audio-description</option>
            <option value="fa-balance-scale">balance-scale</option>
            <option value="fa-ban">ban</option>
            <option value="fa-bank">bank</option>
            <option value="fa-bar-chart">bar-chart</option>
            <option value="fa-bar-chart-o">bar-chart-o</option>
            <option value="fa-barcode">barcode</option>
            <option value="fa-bars">bars</option>
            <option value="fa-bath">bath</option>
            <option value="fa-bathtub">bathtub</option>
            <option value="fa-battery-0">battery-0</option>
            <option value="fa-battery-1">battery-1</option>
            <option value="fa-battery-2">battery-2</option>
            <option value="fa-battery-3">battery-3</option>
            <option value="fa-battery-4">battery-4</option>
            <option value="fa-battery-empty">battery-empty</option>
            <option value="fa-battery-full">battery-full</option>
            <option value="fa-battery-half">battery-half</option>
            <option value="fa-battery-quarter">battery-quarter</option>
            <option value="fa-battery-three-quarters">battery-three-quarters</option>
            <option value="fa-bed">bed</option>
            <option value="fa-beer">beer</option>
            <option value="fa-bell">bell</option>
            <option value="fa-bell-o">bell-o</option>
            <option value="fa-bell-slash">bell-slash</option>
            <option value="fa-bell-slash-o">bell-slash-o</option>
            <option value="fa-bicycle">bicycle</option>
            <option value="fa-binoculars">binoculars</option>
            <option value="fa-birthday-cake">birthday-cake</option>
            <option value="fa-blind">blind</option>
            <option value="fa-bolt">bolt</option>
            <option value="fa-bomb">bomb</option>
            <option value="fa-book">book</option>
            <option value="fa-bookmark">bookmark</option>
            <option value="fa-bookmark-o">bookmark-o</option>
            <option value="fa-braille">braille</option>
            <option value="fa-briefcase">briefcase</option>
            <option value="fa-bug">bug</option>
            <option value="fa-building">building</option>
            <option value="fa-building-o">building-o</option>
            <option value="fa-bullhorn">bullhorn</option>
            <option value="fa-bullseye">bullseye</option>
            <option value="fa-bus">bus</option>
            <option value="fa-cab">cab</option>
            <option value="fa-calculator">calculator</option>
            <option value="fa-calendar">calendar</option>
            <option value="fa-calendar-o">calendar-o</option>
            <option value="fa-calendar-check-o">calendar-check-o</option>
            <option value="fa-calendar-minus-o">calendar-minus-o</option>
            <option value="fa-calendar-plus-o">calendar-plus-o</option>
            <option value="fa-calendar-times-o">calendar-times-o</option>
            <option value="fa-camera">camera</option>
            <option value="fa-camera-retro">camera-retro</option>
            <option value="fa-car">car</option>
            <option value="fa-caret-square-o-down">caret-square-o-down</option>
            <option value="fa-caret-square-o-left">caret-square-o-left</option>
            <option value="fa-caret-square-o-right">caret-square-o-right</option>
            <option value="fa-caret-square-o-up">caret-square-o-up</option>
            <option value="fa-cart-arrow-down">cart-arrow-down</option>
            <option value="fa-cart-plus">cart-plus</option>
            <option value="fa-cc">cc</option>
            <option value="fa-certificate">certificate</option>
            <option value="fa-check">check</option>
            <option value="fa-check-circle">check-circle</option>
            <option value="fa-check-circle-o">check-circle-o</option>
            <option value="fa-check-square">check-square</option>
            <option value="fa-check-square-o">check-square-o</option>
            <option value="fa-child">child</option>
            <option value="fa-circle">circle</option>
            <option value="fa-circle-o">circle-o</option>
            <option value="fa-circle-o-notch">circle-o-notch</option>
            <option value="fa-circle-thin">circle-thin</option>
            <option value="fa-clock-o">clock-o</option>
            <option value="fa-clone">clone</option>
            <option value="fa-close">close</option>
            <option value="fa-cloud">cloud</option>
            <option value="fa-cloud-download">cloud-download</option>
            <option value="fa-cloud-upload">cloud-upload</option>
            <option value="fa-code">code</option>
            <option value="fa-code-fork">code-fork</option>
            <option value="fa-coffee">coffee</option>
            <option value="fa-cog">cog</option>
            <option value="fa-cogs">cogs</option>
            <option value="fa-comment">comment</option>
            <option value="fa-comment-o">comment-o</option>
            <option value="fa-comments">comments</option>
            <option value="fa-comments-o">comments-o</option>
            <option value="fa-commenting">commenting</option>
            <option value="fa-commenting-o">commenting-o</option>
            <option value="fa-compass">compass</option>
            <option value="fa-copyright">copyright</option>
            <option value="fa-credit-card">credit-card</option>
            <option value="fa-credit-card-alt">credit-card-alt</option>
            <option value="fa-creative-commons">creative-commons</option>
            <option value="fa-crop">crop</option>
            <option value="fa-crosshairs">crosshairs</option>
            <option value="fa-cube">cube</option>
            <option value="fa-cubes">cubes</option>
            <option value="fa-cutlery">cutlery</option>
            <option value="fa-dashboard">dashboard</option>
            <option value="fa-database">database</option>
            <option value="fa-deaf">deaf</option>
            <option value="fa-deafness">deafness</option>
            <option value="fa-desktop">desktop</option>
            <option value="fa-diamond">diamond</option>
            <option value="fa-dot-circle-o">dot-circle-o</option>
            <option value="fa-download">download</option>
            <option value="fa-drivers-license">drivers-license</option>
            <option value="fa-drivers-license-o">drivers-license-o</option>
            <option value="fa-edit">edit</option>
            <option value="fa-ellipsis-h">ellipsis-h</option>
            <option value="fa-ellipsis-v">ellipsis-v</option>
            <option value="fa-envelope">envelope</option>
            <option value="fa-envelope-o">envelope-o</option>
            <option value="fa-envelope-open">envelope-open</option>
            <option value="fa-envelope-open-o">envelope-open-o</option>
            <option value="fa-envelope-square">envelope-square</option>
            <option value="fa-eraser">eraser</option>
            <option value="fa-exchange">exchange</option>
            <option value="fa-exclamation">exclamation</option>
            <option value="fa-exclamation-circle">exclamation-circle</option>
            <option value="fa-exclamation-triangle">exclamation-triangle</option>
            <option value="fa-external-link">external-link</option>
            <option value="fa-external-link-square">external-link-square</option>
            <option value="fa-eye">eye</option>
            <option value="fa-eye-slash">eye-slash</option>
            <option value="fa-eyedropper">eyedropper</option>
            <option value="fa-fax">fax</option>
            <option value="fa-female">female</option>
            <option value="fa-fighter-jet">fighter-jet</option>
            <option value="fa-file-archive-o">file-archive-o</option>
            <option value="fa-file-audio-o">file-audio-o</option>
            <option value="fa-file-code-o">file-code-o</option>
            <option value="fa-file-excel-o">file-excel-o</option>
            <option value="fa-file-image-o">file-image-o</option>
            <option value="fa-file-movie-o">file-movie-o</option>
            <option value="fa-file-pdf-o">file-pdf-o</option>
            <option value="fa-file-photo-o">file-photo-o</option>
            <option value="fa-file-picture-o">file-picture-o</option>
            <option value="fa-file-powerpoint-o">file-powerpoint-o</option>
            <option value="fa-file-sound-o">file-sound-o</option>
            <option value="fa-file-video-o">file-video-o</option>
            <option value="fa-file-word-o">file-word-o</option>
            <option value="fa-file-zip-o">file-zip-o</option>
            <option value="fa-film">film</option>
            <option value="fa-filter">filter</option>
            <option value="fa-fire">fire</option>
            <option value="fa-fire-extinguisher">fire-extinguisher</option>
            <option value="fa-flag">flag</option>
            <option value="fa-flag-checkered">flag-checkered</option>
            <option value="fa-flag-o">flag-o</option>
            <option value="fa-flash">flash</option>
            <option value="fa-flask">flask</option>
            <option value="fa-folder">folder</option>
            <option value="fa-folder-o">folder-o</option>
            <option value="fa-folder-open">folder-open</option>
            <option value="fa-folder-open-o">folder-open-o</option>
            <option value="fa-frown-o">frown-o</option>
            <option value="fa-futbol-o">futbol-o</option>
            <option value="fa-gamepad">gamepad</option>
            <option value="fa-gavel">gavel</option>
            <option value="fa-gear">gear</option>
            <option value="fa-gears">gears</option>
            <option value="fa-genderless">genderless</option>
            <option value="fa-gift">gift</option>
            <option value="fa-glass">glass</option>
            <option value="fa-globe">globe</option>
            <option value="fa-graduation-cap">graduation-cap</option>
            <option value="fa-group">group</option>
            <option value="fa-hard-of-hearing">hard-of-hearing</option>
            <option value="fa-hdd-o">hdd-o</option>
            <option value="fa-handshake-o">handshake-o</option>
            <option value="fa-hashtag">hashtag</option>
            <option value="fa-headphones">headphones</option>
            <option value="fa-heart">heart</option>
            <option value="fa-heart-o">heart-o</option>
            <option value="fa-heartbeat">heartbeat</option>
            <option value="fa-history">history</option>
            <option value="fa-home">home</option>
            <option value="fa-hotel">hotel</option>
            <option value="fa-hourglass">hourglass</option>
            <option value="fa-hourglass-1">hourglass-1</option>
            <option value="fa-hourglass-2">hourglass-2</option>
            <option value="fa-hourglass-3">hourglass-3</option>
            <option value="fa-hourglass-end">hourglass-end</option>
            <option value="fa-hourglass-half">hourglass-half</option>
            <option value="fa-hourglass-o">hourglass-o</option>
            <option value="fa-hourglass-start">hourglass-start</option>
            <option value="fa-i-cursor">i-cursor</option>
            <option value="fa-id-badge">id-badge</option>
            <option value="fa-id-card">id-card</option>
            <option value="fa-id-card-o">id-card-o</option>
            <option value="fa-image">image</option>
            <option value="fa-inbox">inbox</option>
            <option value="fa-industry">industry</option>
            <option value="fa-info">info</option>
            <option value="fa-info-circle">info-circle</option>
            <option value="fa-institution">institution</option>
            <option value="fa-key">key</option>
            <option value="fa-keyboard-o">keyboard-o</option>
            <option value="fa-language">language</option>
            <option value="fa-laptop">laptop</option>
            <option value="fa-leaf">leaf</option>
            <option value="fa-legal">legal</option>
            <option value="fa-lemon-o">lemon-o</option>
            <option value="fa-level-down">level-down</option>
            <option value="fa-level-up">level-up</option>
            <option value="fa-life-bouy">life-bouy</option>
            <option value="fa-life-buoy">life-buoy</option>
            <option value="fa-life-ring">life-ring</option>
            <option value="fa-life-saver">life-saver</option>
            <option value="fa-lightbulb-o">lightbulb-o</option>
            <option value="fa-line-chart">line-chart</option>
            <option value="fa-location-arrow">location-arrow</option>
            <option value="fa-lock">lock</option>
            <option value="fa-low-vision">low-vision</option>
            <option value="fa-magic">magic</option>
            <option value="fa-magnet">magnet</option>
            <option value="fa-mail-forward">mail-forward</option>
            <option value="fa-mail-reply">mail-reply</option>
            <option value="fa-mail-reply-all">mail-reply-all</option>
            <option value="fa-male">male</option>
            <option value="fa-map">map</option>
            <option value="fa-map-o">map-o</option>
            <option value="fa-map-pin">map-pin</option>
            <option value="fa-map-signs">map-signs</option>
            <option value="fa-map-marker">map-marker</option>
            <option value="fa-meh-o">meh-o</option>
            <option value="fa-microchip">microchip</option>
            <option value="fa-microphone">microphone</option>
            <option value="fa-microphone-slash">microphone-slash</option>
            <option value="fa-minus">minus</option>
            <option value="fa-minus-circle">minus-circle</option>
            <option value="fa-minus-square">minus-square</option>
            <option value="fa-minus-square-o">minus-square-o</option>
            <option value="fa-mobile">mobile</option>
            <option value="fa-mobile-phone">mobile-phone</option>
            <option value="fa-money">money</option>
            <option value="fa-moon-o">moon-o</option>
            <option value="fa-mortar-board">mortar-board</option>
            <option value="fa-motorcycle">motorcycle</option>
            <option value="fa-mouse-pointer">mouse-pointer</option>
            <option value="fa-music">music</option>
            <option value="fa-navicon">navicon</option>
            <option value="fa-newspaper-o">newspaper-o</option>
            <option value="fa-object-group">object-group</option>
            <option value="fa-object-ungroup">object-ungroup</option>
            <option value="fa-paint-brush">paint-brush</option>
            <option value="fa-paper-plane">paper-plane</option>
            <option value="fa-paper-plane-o">paper-plane-o</option>
            <option value="fa-paw">paw</option>
            <option value="fa-pencil">pencil</option>
            <option value="fa-pencil-square">pencil-square</option>
            <option value="fa-pencil-square-o">pencil-square-o</option>
            <option value="fa-percent">percent</option>
            <option value="fa-phone">phone</option>
            <option value="fa-phone-square">phone-square</option>
            <option value="fa-photo">photo</option>
            <option value="fa-picture-o">picture-o</option>
            <option value="fa-pie-chart">pie-chart</option>
            <option value="fa-plane">plane</option>
            <option value="fa-plug">plug</option>
            <option value="fa-plus">plus</option>
            <option value="fa-plus-circle">plus-circle</option>
            <option value="fa-plus-square">plus-square</option>
            <option value="fa-plus-square-o">plus-square-o</option>
            <option value="fa-podcast">podcast</option>
            <option value="fa-power-off">power-off</option>
            <option value="fa-print">print</option>
            <option value="fa-puzzle-piece">puzzle-piece</option>
            <option value="fa-qrcode">qrcode</option>
            <option value="fa-question">question</option>
            <option value="fa-question-circle">question-circle</option>
            <option value="fa-question-circle-o">question-circle-o</option>
            <option value="fa-quote-left">quote-left</option>
            <option value="fa-quote-right">quote-right</option>
            <option value="fa-random">random</option>
            <option value="fa-recycle">recycle</option>
            <option value="fa-refresh">refresh</option>
            <option value="fa-registered">registered</option>
            <option value="fa-remove">remove</option>
            <option value="fa-reorder">reorder</option>
            <option value="fa-reply">reply</option>
            <option value="fa-reply-all">reply-all</option>
            <option value="fa-retweet">retweet</option>
            <option value="fa-road">road</option>
            <option value="fa-rocket">rocket</option>
            <option value="fa-rss">rss</option>
            <option value="fa-rss-square">rss-square</option>
            <option value="fa-s15">s15</option>
            <option value="fa-search">search</option>
            <option value="fa-search-minus">search-minus</option>
            <option value="fa-search-plus">search-plus</option>
            <option value="fa-send">send</option>
            <option value="fa-send-o">send-o</option>
            <option value="fa-server">server</option>
            <option value="fa-share">share</option>
            <option value="fa-share-alt">share-alt</option>
            <option value="fa-share-alt-square">share-alt-square</option>
            <option value="fa-share-square">share-square</option>
            <option value="fa-share-square-o">share-square-o</option>
            <option value="fa-shield">shield</option>
            <option value="fa-ship">ship</option>
            <option value="fa-shopping-bag">shopping-bag</option>
            <option value="fa-shopping-basket">shopping-basket</option>
            <option value="fa-shopping-cart">shopping-cart</option>
            <option value="fa-shower">shower</option>
            <option value="fa-sign-in">sign-in</option>
            <option value="fa-sign-out">sign-out</option>
            <option value="fa-sign-language">sign-language</option>
            <option value="fa-signal">signal</option>
            <option value="fa-signing">signing</option>
            <option value="fa-sitemap">sitemap</option>
            <option value="fa-sliders">sliders</option>
            <option value="fa-smile-o">smile-o</option>
            <option value="fa-snowflake-o">snowflake-o</option>
            <option value="fa-soccer-ball-o">soccer-ball-o</option>
            <option value="fa-sort">sort</option>
            <option value="fa-sort-alpha-asc">sort-alpha-asc</option>
            <option value="fa-sort-alpha-desc">sort-alpha-desc</option>
            <option value="fa-sort-amount-asc">sort-amount-asc</option>
            <option value="fa-sort-amount-desc">sort-amount-desc</option>
            <option value="fa-sort-asc">sort-asc</option>
            <option value="fa-sort-desc">sort-desc</option>
            <option value="fa-sort-down">sort-down</option>
            <option value="fa-sort-numeric-asc">sort-numeric-asc</option>
            <option value="fa-sort-numeric-desc">sort-numeric-desc</option>
            <option value="fa-sort-up">sort-up</option>
            <option value="fa-space-shuttle">space-shuttle</option>
            <option value="fa-spinner">spinner</option>
            <option value="fa-spoon">spoon</option>
            <option value="fa-square">square</option>
            <option value="fa-square-o">square-o</option>
            <option value="fa-star">star</option>
            <option value="fa-star-half">star-half</option>
            <option value="fa-star-half-empty">star-half-empty</option>
            <option value="fa-star-half-full">star-half-full</option>
            <option value="fa-star-half-o">star-half-o</option>
            <option value="fa-star-o">star-o</option>
            <option value="fa-sticky-note">sticky-note</option>
            <option value="fa-sticky-note-o">sticky-note-o</option>
            <option value="fa-street-view">street-view</option>
            <option value="fa-suitcase">suitcase</option>
            <option value="fa-sun-o">sun-o</option>
            <option value="fa-support">support</option>
            <option value="fa-tablet">tablet</option>
            <option value="fa-tachometer">tachometer</option>
            <option value="fa-tag">tag</option>
            <option value="fa-tags">tags</option>
            <option value="fa-tasks">tasks</option>
            <option value="fa-taxi">taxi</option>
            <option value="fa-television">television</option>
            <option value="fa-terminal">terminal</option>
            <option value="fa-thermometer">thermometer</option>
            <option value="fa-thermometer-0">thermometer-0</option>
            <option value="fa-thermometer-1">thermometer-1</option>
            <option value="fa-thermometer-2">thermometer-2</option>
            <option value="fa-thermometer-3">thermometer-3</option>
            <option value="fa-thermometer-4">thermometer-4</option>
            <option value="fa-thermometer-empty">thermometer-empty</option>
            <option value="fa-thermometer-full">thermometer-full</option>
            <option value="fa-thermometer-half">thermometer-half</option>
            <option value="fa-thermometer-quarter">thermometer-quarter</option>
            <option value="fa-thermometer-three-quarters">thermometer-three-quarters</option>
            <option value="fa-thumb-tack">thumb-tack</option>
            <option value="fa-thumbs-down">thumbs-down</option>
            <option value="fa-thumbs-o-up">thumbs-o-up</option>
            <option value="fa-thumbs-up">thumbs-up</option>
            <option value="fa-ticket">ticket</option>
            <option value="fa-times">times</option>
            <option value="fa-times-circle">times-circle</option>
            <option value="fa-times-circle-o">times-circle-o</option>
            <option value="fa-times-rectangle">times-rectangle</option>
            <option value="fa-times-rectangle-o">times-rectangle-o</option>
            <option value="fa-tint">tint</option>
            <option value="fa-toggle-down">toggle-down</option>
            <option value="fa-toggle-left">toggle-left</option>
            <option value="fa-toggle-right">toggle-right</option>
            <option value="fa-toggle-up">toggle-up</option>
            <option value="fa-toggle-off">toggle-off</option>
            <option value="fa-toggle-on">toggle-on</option>
            <option value="fa-trademark">trademark</option>
            <option value="fa-trash">trash</option>
            <option value="fa-trash-o">trash-o</option>
            <option value="fa-tree">tree</option>
            <option value="fa-trophy">trophy</option>
            <option value="fa-truck">truck</option>
            <option value="fa-tty">tty</option>
            <option value="fa-tv">tv</option>
            <option value="fa-umbrella">umbrella</option>
            <option value="fa-universal-access">universal-access</option>
            <option value="fa-university">university</option>
            <option value="fa-unlock">unlock</option>
            <option value="fa-unlock-alt">unlock-alt</option>
            <option value="fa-unsorted">unsorted</option>
            <option value="fa-upload">upload</option>
            <option value="fa-user">user</option>
            <option value="fa-user-circle">user-circle</option>
            <option value="fa-user-circle-o">user-circle-o</option>
            <option value="fa-user-o">user-o</option>
            <option value="fa-user-plus">user-plus</option>
            <option value="fa-user-secret">user-secret</option>
            <option value="fa-user-times">user-times</option>
            <option value="fa-users">users</option>
            <option value="fa-vcard">vcard</option>
            <option value="fa-vcard-o">vcard-o</option>
            <option value="fa-video-camera">video-camera</option>
            <option value="fa-volume-control-phone">volume-control-phone</option>
            <option value="fa-volume-down">volume-down</option>
            <option value="fa-volume-off">volume-off</option>
            <option value="fa-volume-up">volume-up</option>
            <option value="fa-warning">warning</option>
            <option value="fa-wheelchair">wheelchair</option>
            <option value="fa-wheelchair-alt">wheelchair-alt</option>
            <option value="fa-window-close">window-close</option>
            <option value="fa-window-close-o">window-close-o</option>
            <option value="fa-window-maximize">window-maximize</option>
            <option value="fa-window-minimize">window-minimize</option>
            <option value="fa-window-restore">window-restore</option>
            <option value="fa-wifi">wifi</option>
            <option value="fa-wrench">wrench</option>
        </select>
    </div>
    <br><br>
    <button name="add_s" type="submit" class="btn btn-default">Add service</button>
</form>