<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ShowMe</title>
    <script type="text/javascript" src="/static/jQuery/jquery-2.2.4.js"></script>
    <link rel="stylesheet" type="text/css" href="/static/bootstrap/css/bootstrap.min.css"/>
    <script type="text/javascript" src="/static/bootstrap/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/static/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="/static/custom/css/styles.css"/>
</head>
<body>
<div class="col-lg-10 col-md-10 col-sm-10 col-xs-12 col-lg-offset-1 col-md-offset-1 col-sm-offset-1 menu-container">
    {% include 'top.html' %}
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Edit service?</h3>
                </div>
                <div class="panel-body">
                    <form class="form-inline" method="post" action="/">
                        <div class="form-group">
                            <label for="title">Title</label><br>
                            <input type="text" class="form-control" name="title" id="title" placeholder="Title">
                        </div>
                        <br><br>
                        <div class="form-group">
                            <label for="path">Path</label><br>
                            <input type="text" class="form-control" name="path" id="path" placeholder="Path">
                        </div>
                        <br><br>
                        <div class="form-group">
                            <label for="sel_icon">Select icon:</label><br>
                            <select class="form-control" id="sel_icon" name="sel_icon">
                                <option value="fa fa-address-book">address-book</option>
                                <option value="fa fa-address-book-o">address-book-o</option>
                                <option value="fa fa-address-card">address-card</option>
                                <option value="fa fa-address-card-o">address-card-o</option>
                                <option value="fa fa-adjust">adjust</option>
                                <option value="fa fa-american-sign-language-interpreting">
                                    american-sign-language-interpreting
                                </option>
                                <option value="fa fa-anchor">anchor</option>
                                <option value="fa fa-archive">archive</option>
                                <option value="fa fa-area-chart">area-chart</option>
                                <option value="fa fa-arrows">arrows</option>
                                <option value="fa fa-arrows-h">arrows-h</option>
                                <option value="fa fa-arrows-v">arrows-v</option>
                                <option value="fa fa-asl-interpreting">asl-interpreting</option>
                                <option value="fa fa-assistive-listening-systems">assistive-listening-systems</option>
                                <option value="fa fa-asterisk">asterisk</option>
                                <option value="fa fa-at">at</option>
                                <option value="fa fa-automobile">automobile</option>
                                <option value="fa fa-audio-description">audio-description</option>
                                <option value="fa fa-balance-scale">balance-scale</option>
                                <option value="fa fa-ban">ban</option>
                                <option value="fa fa-bank">bank</option>
                                <option value="fa fa-bar-chart">bar-chart</option>
                                <option value="fa fa-bar-chart-o">bar-chart-o</option>
                                <option value="fa fa-barcode">barcode</option>
                                <option value="fa fa-bars">bars</option>
                                <option value="fa fa-bath">bath</option>
                                <option value="fa fa-bathtub">bathtub</option>
                                <option value="fa fa-battery-0">battery-0</option>
                                <option value="fa fa-battery-1">battery-1</option>
                                <option value="fa fa-battery-2">battery-2</option>
                                <option value="fa fa-battery-3">battery-3</option>
                                <option value="fa fa-battery-4">battery-4</option>
                                <option value="fa fa-battery-empty">battery-empty</option>
                                <option value="fa fa-battery-full">battery-full</option>
                                <option value="fa fa-battery-half">battery-half</option>
                                <option value="fa fa-battery-quarter">battery-quarter</option>
                                <option value="fa fa-battery-three-quarters">battery-three-quarters</option>
                                <option value="fa fa-bed">bed</option>
                                <option value="fa fa-beer">beer</option>
                                <option value="fa fa-bell">bell</option>
                                <option value="fa fa-bell-o">bell-o</option>
                                <option value="fa fa-bell-slash">bell-slash</option>
                                <option value="fa fa-bell-slash-o">bell-slash-o</option>
                                <option value="fa fa-bicycle">bicycle</option>
                                <option value="fa fa-binoculars">binoculars</option>
                                <option value="fa fa-birthday-cake">birthday-cake</option>
                                <option value="fa fa-blind">blind</option>
                                <option value="fa fa-bolt">bolt</option>
                                <option value="fa fa-bomb">bomb</option>
                                <option value="fa fa-book">book</option>
                                <option value="fa fa-bookmark">bookmark</option>
                                <option value="fa fa-bookmark-o">bookmark-o</option>
                                <option value="fa fa-braille">braille</option>
                                <option value="fa fa-briefcase">briefcase</option>
                                <option value="fa fa-bug">bug</option>
                                <option value="fa fa-building">building</option>
                                <option value="fa fa-building-o">building-o</option>
                                <option value="fa fa-bullhorn">bullhorn</option>
                                <option value="fa fa-bullseye">bullseye</option>
                                <option value="fa fa-bus">bus</option>
                                <option value="fa fa-cab">cab</option>
                                <option value="fa fa-calculator">calculator</option>
                                <option value="fa fa-calendar">calendar</option>
                                <option value="fa fa-calendar-o">calendar-o</option>
                                <option value="fa fa-calendar-check-o">calendar-check-o</option>
                                <option value="fa fa-calendar-minus-o">calendar-minus-o</option>
                                <option value="fa fa-calendar-plus-o">calendar-plus-o</option>
                                <option value="fa fa-calendar-times-o">calendar-times-o</option>
                                <option value="fa fa-camera">camera</option>
                                <option value="fa fa-camera-retro">camera-retro</option>
                                <option value="fa fa-car">car</option>
                                <option value="fa fa-caret-square-o-down">caret-square-o-down</option>
                                <option value="fa fa-caret-square-o-left">caret-square-o-left</option>
                                <option value="fa fa-caret-square-o-right">caret-square-o-right</option>
                                <option value="fa fa-caret-square-o-up">caret-square-o-up</option>
                                <option value="fa fa-cart-arrow-down">cart-arrow-down</option>
                                <option value="fa fa-cart-plus">cart-plus</option>
                                <option value="fa fa-cc">cc</option>
                                <option value="fa fa-certificate">certificate</option>
                                <option value="fa fa-check">check</option>
                                <option value="fa fa-check-circle">check-circle</option>
                                <option value="fa fa-check-circle-o">check-circle-o</option>
                                <option value="fa fa-check-square">check-square</option>
                                <option value="fa fa-check-square-o">check-square-o</option>
                                <option value="fa fa-child">child</option>
                                <option value="fa fa-circle">circle</option>
                                <option value="fa fa-circle-o">circle-o</option>
                                <option value="fa fa-circle-o-notch">circle-o-notch</option>
                                <option value="fa fa-circle-thin">circle-thin</option>
                                <option value="fa fa-clock-o">clock-o</option>
                                <option value="fa fa-clone">clone</option>
                                <option value="fa fa-close">close</option>
                                <option value="fa fa-cloud">cloud</option>
                                <option value="fa fa-cloud-download">cloud-download</option>
                                <option value="fa fa-cloud-upload">cloud-upload</option>
                                <option value="fa fa-code">code</option>
                                <option value="fa fa-code-fork">code-fork</option>
                                <option value="fa fa-coffee">coffee</option>
                                <option value="fa fa-cog">cog</option>
                                <option value="fa fa-cogs">cogs</option>
                                <option value="fa fa-comment">comment</option>
                                <option value="fa fa-comment-o">comment-o</option>
                                <option value="fa fa-comments">comments</option>
                                <option value="fa fa-comments-o">comments-o</option>
                                <option value="fa fa-commenting">commenting</option>
                                <option value="fa fa-commenting-o">commenting-o</option>
                                <option value="fa fa-compass">compass</option>
                                <option value="fa fa-copyright">copyright</option>
                                <option value="fa fa-credit-card">credit-card</option>
                                <option value="fa fa-credit-card-alt">credit-card-alt</option>
                                <option value="fa fa-creative-commons">creative-commons</option>
                                <option value="fa fa-crop">crop</option>
                                <option value="fa fa-crosshairs">crosshairs</option>
                                <option value="fa fa-cube">cube</option>
                                <option value="fa fa-cubes">cubes</option>
                                <option value="fa fa-cutlery">cutlery</option>
                                <option value="fa fa-dashboard">dashboard</option>
                                <option value="fa fa-database">database</option>
                                <option value="fa fa-deaf">deaf</option>
                                <option value="fa fa-deafness">deafness</option>
                                <option value="fa fa-desktop">desktop</option>
                                <option value="fa fa-diamond">diamond</option>
                                <option value="fa fa-dot-circle-o">dot-circle-o</option>
                                <option value="fa fa-download">download</option>
                                <option value="fa fa-drivers-license">drivers-license</option>
                                <option value="fa fa-drivers-license-o">drivers-license-o</option>
                                <option value="fa fa-edit">edit</option>
                                <option value="fa fa-ellipsis-h">ellipsis-h</option>
                                <option value="fa fa-ellipsis-v">ellipsis-v</option>
                                <option value="fa fa-envelope">envelope</option>
                                <option value="fa fa-envelope-o">envelope-o</option>
                                <option value="fa fa-envelope-open">envelope-open</option>
                                <option value="fa fa-envelope-open-o">envelope-open-o</option>
                                <option value="fa fa-envelope-square">envelope-square</option>
                                <option value="fa fa-eraser">eraser</option>
                                <option value="fa fa-exchange">exchange</option>
                                <option value="fa fa-exclamation">exclamation</option>
                                <option value="fa fa-exclamation-circle">exclamation-circle</option>
                                <option value="fa fa-exclamation-triangle">exclamation-triangle</option>
                                <option value="fa fa-external-link">external-link</option>
                                <option value="fa fa-external-link-square">external-link-square</option>
                                <option value="fa fa-eye">eye</option>
                                <option value="fa fa-eye-slash">eye-slash</option>
                                <option value="fa fa-eyedropper">eyedropper</option>
                                <option value="fa fa-fax">fax</option>
                                <option value="fa fa-female">female</option>
                                <option value="fa fa-fighter-jet">fighter-jet</option>
                                <option value="fa fa-file-archive-o">file-archive-o</option>
                                <option value="fa fa-file-audio-o">file-audio-o</option>
                                <option value="fa fa-file-code-o">file-code-o</option>
                                <option value="fa fa-file-excel-o">file-excel-o</option>
                                <option value="fa fa-file-image-o">file-image-o</option>
                                <option value="fa fa-file-movie-o">file-movie-o</option>
                                <option value="fa fa-file-pdf-o">file-pdf-o</option>
                                <option value="fa fa-file-photo-o">file-photo-o</option>
                                <option value="fa fa-file-picture-o">file-picture-o</option>
                                <option value="fa fa-file-powerpoint-o">file-powerpoint-o</option>
                                <option value="fa fa-file-sound-o">file-sound-o</option>
                                <option value="fa fa-file-video-o">file-video-o</option>
                                <option value="fa fa-file-word-o">file-word-o</option>
                                <option value="fa fa-file-zip-o">file-zip-o</option>
                                <option value="fa fa-film">film</option>
                                <option value="fa fa-filter">filter</option>
                                <option value="fa fa-fire">fire</option>
                                <option value="fa fa-fire-extinguisher">fire-extinguisher</option>
                                <option value="fa fa-flag">flag</option>
                                <option value="fa fa-flag-checkered">flag-checkered</option>
                                <option value="fa fa-flag-o">flag-o</option>
                                <option value="fa fa-flash">flash</option>
                                <option value="fa fa-flask">flask</option>
                                <option value="fa fa-folder">folder</option>
                                <option value="fa fa-folder-o">folder-o</option>
                                <option value="fa fa-folder-open">folder-open</option>
                                <option value="fa fa-folder-open-o">folder-open-o</option>
                                <option value="fa fa-frown-o">frown-o</option>
                                <option value="fa fa-futbol-o">futbol-o</option>
                                <option value="fa fa-gamepad">gamepad</option>
                                <option value="fa fa-gavel">gavel</option>
                                <option value="fa fa-gear">gear</option>
                                <option value="fa fa-gears">gears</option>
                                <option value="fa fa-genderless">genderless</option>
                                <option value="fa fa-gift">gift</option>
                                <option value="fa fa-glass">glass</option>
                                <option value="fa fa-globe">globe</option>
                                <option value="fa fa-graduation-cap">graduation-cap</option>
                                <option value="fa fa-group">group</option>
                                <option value="fa fa-hard-of-hearing">hard-of-hearing</option>
                                <option value="fa fa-hdd-o">hdd-o</option>
                                <option value="fa fa-handshake-o">handshake-o</option>
                                <option value="fa fa-hashtag">hashtag</option>
                                <option value="fa fa-headphones">headphones</option>
                                <option value="fa fa-heart">heart</option>
                                <option value="fa fa-heart-o">heart-o</option>
                                <option value="fa fa-heartbeat">heartbeat</option>
                                <option value="fa fa-history">history</option>
                                <option value="fa fa-home">home</option>
                                <option value="fa fa-hotel">hotel</option>
                                <option value="fa fa-hourglass">hourglass</option>
                                <option value="fa fa-hourglass-1">hourglass-1</option>
                                <option value="fa fa-hourglass-2">hourglass-2</option>
                                <option value="fa fa-hourglass-3">hourglass-3</option>
                                <option value="fa fa-hourglass-end">hourglass-end</option>
                                <option value="fa fa-hourglass-half">hourglass-half</option>
                                <option value="fa fa-hourglass-o">hourglass-o</option>
                                <option value="fa fa-hourglass-start">hourglass-start</option>
                                <option value="fa fa-i-cursor">i-cursor</option>
                                <option value="fa fa-id-badge">id-badge</option>
                                <option value="fa fa-id-card">id-card</option>
                                <option value="fa fa-id-card-o">id-card-o</option>
                                <option value="fa fa-image">image</option>
                                <option value="fa fa-inbox">inbox</option>
                                <option value="fa fa-industry">industry</option>
                                <option value="fa fa-info">info</option>
                                <option value="fa fa-info-circle">info-circle</option>
                                <option value="fa fa-institution">institution</option>
                                <option value="fa fa-key">key</option>
                                <option value="fa fa-keyboard-o">keyboard-o</option>
                                <option value="fa fa-language">language</option>
                                <option value="fa fa-laptop">laptop</option>
                                <option value="fa fa-leaf">leaf</option>
                                <option value="fa fa-legal">legal</option>
                                <option value="fa fa-lemon-o">lemon-o</option>
                                <option value="fa fa-level-down">level-down</option>
                                <option value="fa fa-level-up">level-up</option>
                                <option value="fa fa-life-bouy">life-bouy</option>
                                <option value="fa fa-life-buoy">life-buoy</option>
                                <option value="fa fa-life-ring">life-ring</option>
                                <option value="fa fa-life-saver">life-saver</option>
                                <option value="fa fa-lightbulb-o">lightbulb-o</option>
                                <option value="fa fa-line-chart">line-chart</option>
                                <option value="fa fa-location-arrow">location-arrow</option>
                                <option value="fa fa-lock">lock</option>
                                <option value="fa fa-low-vision">low-vision</option>
                                <option value="fa fa-magic">magic</option>
                                <option value="fa fa-magnet">magnet</option>
                                <option value="fa fa-mail-forward">mail-forward</option>
                                <option value="fa fa-mail-reply">mail-reply</option>
                                <option value="fa fa-mail-reply-all">mail-reply-all</option>
                                <option value="fa fa-male">male</option>
                                <option value="fa fa-map">map</option>
                                <option value="fa fa-map-o">map-o</option>
                                <option value="fa fa-map-pin">map-pin</option>
                                <option value="fa fa-map-signs">map-signs</option>
                                <option value="fa fa-map-marker">map-marker</option>
                                <option value="fa fa-meh-o">meh-o</option>
                                <option value="fa fa-microchip">microchip</option>
                                <option value="fa fa-microphone">microphone</option>
                                <option value="fa fa-microphone-slash">microphone-slash</option>
                                <option value="fa fa-minus">minus</option>
                                <option value="fa fa-minus-circle">minus-circle</option>
                                <option value="fa fa-minus-square">minus-square</option>
                                <option value="fa fa-minus-square-o">minus-square-o</option>
                                <option value="fa fa-mobile">mobile</option>
                                <option value="fa fa-mobile-phone">mobile-phone</option>
                                <option value="fa fa-money">money</option>
                                <option value="fa fa-moon-o">moon-o</option>
                                <option value="fa fa-mortar-board">mortar-board</option>
                                <option value="fa fa-motorcycle">motorcycle</option>
                                <option value="fa fa-mouse-pointer">mouse-pointer</option>
                                <option value="fa fa-music">music</option>
                                <option value="fa fa-navicon">navicon</option>
                                <option value="fa fa-newspaper-o">newspaper-o</option>
                                <option value="fa fa-object-group">object-group</option>
                                <option value="fa fa-object-ungroup">object-ungroup</option>
                                <option value="fa fa-paint-brush">paint-brush</option>
                                <option value="fa fa-paper-plane">paper-plane</option>
                                <option value="fa fa-paper-plane-o">paper-plane-o</option>
                                <option value="fa fa-paw">paw</option>
                                <option value="fa fa-pencil">pencil</option>
                                <option value="fa fa-pencil-square">pencil-square</option>
                                <option value="fa fa-pencil-square-o">pencil-square-o</option>
                                <option value="fa fa-percent">percent</option>
                                <option value="fa fa-phone">phone</option>
                                <option value="fa fa-phone-square">phone-square</option>
                                <option value="fa fa-photo">photo</option>
                                <option value="fa fa-picture-o">picture-o</option>
                                <option value="fa fa-pie-chart">pie-chart</option>
                                <option value="fa fa-plane">plane</option>
                                <option value="fa fa-plug">plug</option>
                                <option value="fa fa-plus">plus</option>
                                <option value="fa fa-plus-circle">plus-circle</option>
                                <option value="fa fa-plus-square">plus-square</option>
                                <option value="fa fa-plus-square-o">plus-square-o</option>
                                <option value="fa fa-podcast">podcast</option>
                                <option value="fa fa-power-off">power-off</option>
                                <option value="fa fa-print">print</option>
                                <option value="fa fa-puzzle-piece">puzzle-piece</option>
                                <option value="fa fa-qrcode">qrcode</option>
                                <option value="fa fa-question">question</option>
                                <option value="fa fa-question-circle">question-circle</option>
                                <option value="fa fa-question-circle-o">question-circle-o</option>
                                <option value="fa fa-quote-left">quote-left</option>
                                <option value="fa fa-quote-right">quote-right</option>
                                <option value="fa fa-random">random</option>
                                <option value="fa fa-recycle">recycle</option>
                                <option value="fa fa-refresh">refresh</option>
                                <option value="fa fa-registered">registered</option>
                                <option value="fa fa-remove">remove</option>
                                <option value="fa fa-reorder">reorder</option>
                                <option value="fa fa-reply">reply</option>
                                <option value="fa fa-reply-all">reply-all</option>
                                <option value="fa fa-retweet">retweet</option>
                                <option value="fa fa-road">road</option>
                                <option value="fa fa-rocket">rocket</option>
                                <option value="fa fa-rss">rss</option>
                                <option value="fa fa-rss-square">rss-square</option>
                                <option value="fa fa-s15">s15</option>
                                <option value="fa fa-search">search</option>
                                <option value="fa fa-search-minus">search-minus</option>
                                <option value="fa fa-search-plus">search-plus</option>
                                <option value="fa fa-send">send</option>
                                <option value="fa fa-send-o">send-o</option>
                                <option value="fa fa-server">server</option>
                                <option value="fa fa-share">share</option>
                                <option value="fa fa-share-alt">share-alt</option>
                                <option value="fa fa-share-alt-square">share-alt-square</option>
                                <option value="fa fa-share-square">share-square</option>
                                <option value="fa fa-share-square-o">share-square-o</option>
                                <option value="fa fa-shield">shield</option>
                                <option value="fa fa-ship">ship</option>
                                <option value="fa fa-shopping-bag">shopping-bag</option>
                                <option value="fa fa-shopping-basket">shopping-basket</option>
                                <option value="fa fa-shopping-cart">shopping-cart</option>
                                <option value="fa fa-shower">shower</option>
                                <option value="fa fa-sign-in">sign-in</option>
                                <option value="fa fa-sign-out">sign-out</option>
                                <option value="fa fa-sign-language">sign-language</option>
                                <option value="fa fa-signal">signal</option>
                                <option value="fa fa-signing">signing</option>
                                <option value="fa fa-sitemap">sitemap</option>
                                <option value="fa fa-sliders">sliders</option>
                                <option value="fa fa-smile-o">smile-o</option>
                                <option value="fa fa-snowflake-o">snowflake-o</option>
                                <option value="fa fa-soccer-ball-o">soccer-ball-o</option>
                                <option value="fa fa-sort">sort</option>
                                <option value="fa fa-sort-alpha-asc">sort-alpha-asc</option>
                                <option value="fa fa-sort-alpha-desc">sort-alpha-desc</option>
                                <option value="fa fa-sort-amount-asc">sort-amount-asc</option>
                                <option value="fa fa-sort-amount-desc">sort-amount-desc</option>
                                <option value="fa fa-sort-asc">sort-asc</option>
                                <option value="fa fa-sort-desc">sort-desc</option>
                                <option value="fa fa-sort-down">sort-down</option>
                                <option value="fa fa-sort-numeric-asc">sort-numeric-asc</option>
                                <option value="fa fa-sort-numeric-desc">sort-numeric-desc</option>
                                <option value="fa fa-sort-up">sort-up</option>
                                <option value="fa fa-space-shuttle">space-shuttle</option>
                                <option value="fa fa-spinner">spinner</option>
                                <option value="fa fa-spoon">spoon</option>
                                <option value="fa fa-square">square</option>
                                <option value="fa fa-square-o">square-o</option>
                                <option value="fa fa-star">star</option>
                                <option value="fa fa-star-half">star-half</option>
                                <option value="fa fa-star-half-empty">star-half-empty</option>
                                <option value="fa fa-star-half-full">star-half-full</option>
                                <option value="fa fa-star-half-o">star-half-o</option>
                                <option value="fa fa-star-o">star-o</option>
                                <option value="fa fa-sticky-note">sticky-note</option>
                                <option value="fa fa-sticky-note-o">sticky-note-o</option>
                                <option value="fa fa-street-view">street-view</option>
                                <option value="fa fa-suitcase">suitcase</option>
                                <option value="fa fa-sun-o">sun-o</option>
                                <option value="fa fa-support">support</option>
                                <option value="fa fa-tablet">tablet</option>
                                <option value="fa fa-tachometer">tachometer</option>
                                <option value="fa fa-tag">tag</option>
                                <option value="fa fa-tags">tags</option>
                                <option value="fa fa-tasks">tasks</option>
                                <option value="fa fa-taxi">taxi</option>
                                <option value="fa fa-television">television</option>
                                <option value="fa fa-terminal">terminal</option>
                                <option value="fa fa-thermometer">thermometer</option>
                                <option value="fa fa-thermometer-0">thermometer-0</option>
                                <option value="fa fa-thermometer-1">thermometer-1</option>
                                <option value="fa fa-thermometer-2">thermometer-2</option>
                                <option value="fa fa-thermometer-3">thermometer-3</option>
                                <option value="fa fa-thermometer-4">thermometer-4</option>
                                <option value="fa fa-thermometer-empty">thermometer-empty</option>
                                <option value="fa fa-thermometer-full">thermometer-full</option>
                                <option value="fa fa-thermometer-half">thermometer-half</option>
                                <option value="fa fa-thermometer-quarter">thermometer-quarter</option>
                                <option value="fa fa-thermometer-three-quarters">thermometer-three-quarters</option>
                                <option value="fa fa-thumb-tack">thumb-tack</option>
                                <option value="fa fa-thumbs-down">thumbs-down</option>
                                <option value="fa fa-thumbs-o-up">thumbs-o-up</option>
                                <option value="fa fa-thumbs-up">thumbs-up</option>
                                <option value="fa fa-ticket">ticket</option>
                                <option value="fa fa-times">times</option>
                                <option value="fa fa-times-circle">times-circle</option>
                                <option value="fa fa-times-circle-o">times-circle-o</option>
                                <option value="fa fa-times-rectangle">times-rectangle</option>
                                <option value="fa fa-times-rectangle-o">times-rectangle-o</option>
                                <option value="fa fa-tint">tint</option>
                                <option value="fa fa-toggle-down">toggle-down</option>
                                <option value="fa fa-toggle-left">toggle-left</option>
                                <option value="fa fa-toggle-right">toggle-right</option>
                                <option value="fa fa-toggle-up">toggle-up</option>
                                <option value="fa fa-toggle-off">toggle-off</option>
                                <option value="fa fa-toggle-on">toggle-on</option>
                                <option value="fa fa-trademark">trademark</option>
                                <option value="fa fa-trash">trash</option>
                                <option value="fa fa-trash-o">trash-o</option>
                                <option value="fa fa-tree">tree</option>
                                <option value="fa fa-trophy">trophy</option>
                                <option value="fa fa-truck">truck</option>
                                <option value="fa fa-tty">tty</option>
                                <option value="fa fa-tv">tv</option>
                                <option value="fa fa-umbrella">umbrella</option>
                                <option value="fa fa-universal-access">universal-access</option>
                                <option value="fa fa-university">university</option>
                                <option value="fa fa-unlock">unlock</option>
                                <option value="fa fa-unlock-alt">unlock-alt</option>
                                <option value="fa fa-unsorted">unsorted</option>
                                <option value="fa fa-upload">upload</option>
                                <option value="fa fa-user">user</option>
                                <option value="fa fa-user-circle">user-circle</option>
                                <option value="fa fa-user-circle-o">user-circle-o</option>
                                <option value="fa fa-user-o">user-o</option>
                                <option value="fa fa-user-plus">user-plus</option>
                                <option value="fa fa-user-secret">user-secret</option>
                                <option value="fa fa-user-times">user-times</option>
                                <option value="fa fa-users">users</option>
                                <option value="fa fa-vcard">vcard</option>
                                <option value="fa fa-vcard-o">vcard-o</option>
                                <option value="fa fa-video-camera">video-camera</option>
                                <option value="fa fa-volume-control-phone">volume-control-phone</option>
                                <option value="fa fa-volume-down">volume-down</option>
                                <option value="fa fa-volume-off">volume-off</option>
                                <option value="fa fa-volume-up">volume-up</option>
                                <option value="fa fa-warning">warning</option>
                                <option value="fa fa-wheelchair">wheelchair</option>
                                <option value="fa fa-wheelchair-alt">wheelchair-alt</option>
                                <option value="fa fa-window-close">window-close</option>
                                <option value="fa fa-window-close-o">window-close-o</option>
                                <option value="fa fa-window-maximize">window-maximize</option>
                                <option value="fa fa-window-minimize">window-minimize</option>
                                <option value="fa fa-window-restore">window-restore</option>
                                <option value="fa fa-wifi">wifi</option>
                                <option value="fa fa-wrench">wrench</option>
                            </select>
                        </div>
                        <br><br>
                        <button name="edit_s" type="submit" class="btn btn-default">Edit service</button>
                        <a class="btn btn-default delete-button custom-margin" href="/">Cancel</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>