<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ShowMe</title>
    <link rel="icon" type="image/png" href="images/favicon.ico">
    <script type="text/javascript" src="/static/jQuery/jquery-2.2.4.js"></script>
    <link rel="stylesheet" type="text/css" href="/static/bootstrap/css/bootstrap.min.css"/>
    <script type="text/javascript" src="/static/bootstrap/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/static/custom/css/styles.css"/>
    <script type="text/javascript" src="/static/custom/js/ui.js"></script>
</head>
<body>
{% include 'top.html' %}

<div class="col-lg-10 col-lg-offset-1">
    <h2 class="page-header">showMe</h2>
</div>

<div class="col-md-12">
    <div class="form-group">
        <label for="LogArea">ApacheLog:</label>
        <textarea class="form-control" rows="100" id="LogArea" data-name="LogBox">Test!</textarea>
    </div>
</div>
</body>
</html>
