<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ShowMe</title>
    <script type="text/javascript" src="/static/jQuery/jquery-2.2.4.js"></script>
    <link rel="stylesheet" type="text/css" href="/static/bootstrap/css/bootstrap.min.css"/>
    <script type="text/javascript" src="/static/bootstrap/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/static/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="/static/custom/css/styles.css"/>
</head>
<body>
<div class="col-lg-10 col-md-10 col-sm-10 col-xs-12 col-lg-offset-1 col-md-offset-1 col-sm-offset-1 menu-container">
    {% include 'top.html' %}
    <h1 class="page-header pageTitle">showMe</h1>
</div>
<div class="container-fluid">
    <div class="row">
        <!--# side menu-->
        <div class="col-lg-10 col-md-10 col-sm-10 col-xs-12 col-lg-offset-1 col-md-offset-1 col-sm-offset-1 content-tab-container">
            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-3 content-tab-menu">
                <div class="list-group">
                    <a href="#" class="list-group-item active text-center">
                        <i class="fa fa-pencil fa-3x"></i><br/> Add service
                    </a>
                    {% for item in logs %}
                        <a href="#" class="list-group-item text-center">
                            <i class="fa {{ item.icon }} fa-3x"></i><br/>{{ item.name }}
                        </a>
                    {% endfor %}
                </div>
            </div>
            <!--content panels-->
            <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10 content-tab">
                <div class="content-tab-content active">
                    <h1 class="item-header">Add service</h1>
                    {% include 'add_service.html' %}
                </div>
                {% for item in logs %}
                    <div class="content-tab-content">
                        <h1 class="item-header">{{ item.name }}</h1>
                        <a href='/del_service/{{ item.name }}'>Delete</a>
                        <a href='/edit_service/{{ item.name }}'>Edit</a>
                        <textarea id="{{ item.name }}"></textarea>
                        <script>
                            $(document).ready(function () {
                                var log_url = '/log/' + '{{ item.name }}';
                                $.get(log_url).then(function (responseData) {
                                    var $textarea = $('#{{ item.name }}');
                                    $textarea.val(responseData);
                                    console.log(responseData);
                                    $textarea.scrollTop($textarea[0].scrollHeight);
                                    return true;
                                });
                            });
                        </script>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        $("div.content-tab-menu>div.list-group>a").click(function (e) {
            e.preventDefault();
            $(this).siblings('a.active').removeClass("active");
            $(this).addClass("active");
            var index = $(this).index();
            $("div.content-tab>div.content-tab-content").removeClass("active");
            $("div.content-tab>div.content-tab-content").eq(index).addClass("active");
        });
    });
</script>
</body>
</html>